<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.goods.dao.CartDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.goods.model.CartDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cart_id, goods_id, price, add_time, update_time, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cart_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.goods.model.CartDetail" useGeneratedKeys="true" keyProperty="id">
    insert into cart_detail (id, cart_id, goods_id, 
      price, add_time, update_time, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{cartId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.goods.model.CartDetail">
    insert into cart_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.goods.model.CartDetail">
    update cart_detail
    <set>
      <if test="cartId != null">
        cart_id = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.goods.model.CartDetail">
    update cart_detail
    set cart_id = #{cartId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByCartId" parameterType="Integer" resultMap="BaseResultMap">
    select * from cart_detail where cart_id = #{cartId,jdbcType=INTEGER} group by user_id
  </select>
  <select id="selectByCartIdUserId" parameterType="Integer" resultType="Map">
    select * from cart_detail a left join goods_info b on a.goods_id = b.id where a.cart_id = #{cartId,jdbcType=INTEGER} and a.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByCartIdGoodsId" parameterType="Integer" resultMap="BaseResultMap">
    select * from cart_detail where cart_id = #{cartId,jdbcType=INTEGER} and goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdGoodsId" parameterType="Integer" resultMap="BaseResultMap">
    select * from cart_detail where user_id = #{userId} and goods_id = #{goodsId}
  </select>
</mapper>