<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.goods.dao.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.goods.model.GoodsCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="search_count" jdbcType="INTEGER" property="searchCount" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, name, img_url, sort, type, status, search_count, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.goods.model.GoodsCategory" useGeneratedKeys="true" keyProperty="id">
    insert into goods_category (id, parent_id, name, 
      img_url, sort, type, 
      status, search_count, add_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{searchCount,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.goods.model.GoodsCategory" useGeneratedKeys="true" keyProperty="id">
    insert into goods_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="searchCount != null">
        search_count,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="searchCount != null">
        #{searchCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.goods.model.GoodsCategory">
    update goods_category
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="searchCount != null">
        search_count = #{searchCount,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.goods.model.GoodsCategory">
    update goods_category
    set parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      search_count = #{searchCount,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="categoryParentList" parameterType="Integer" resultMap="BaseResultMap">
    select * from goods_category where status = 0 and ISNULL(parent_id)
    <if test="type != null">
      and type = #{type,jdbcType=INTEGER}
    </if>
    order by sort asc
  </select>
  <select id="getChildCategoryList" parameterType="Integer" resultMap="BaseResultMap">
    select * from goods_category where status = 0 and parent_id = #{parentId,jdbcType=INTEGER} order by sort asc
  </select>

  <update id="addSearchCountByCategoryIds" parameterType="Integer">
    update goods_category set search_count = (search_count + 1)
    <where>
      <foreach collection="goodsCategoryIds" item="id" open=" and id in(" separator="," close=")" >
        #{id,jdbcType=INTEGER}
      </foreach>
    </where>
  </update>
  <select id="getHotCategaryList" resultMap="BaseResultMap">
    select * from goods_category where type = 2 order by id limit 0,10
  </select>

  <select id="selectParentId" parameterType="Integer" resultType="Integer">
    select parent_id from goods_category where id = #{categoryId}
  </select>

  <select id="getPage" resultMap="BaseResultMap">
    select * from goods_category
    <where>
      1=1
      <if test="keyword != null">
        and (
        name like "%"#{keyword,jdbcType=VARCHAR}"%"
        )
      </if>
      <if test="status != null">
        and status = #{status}
      </if>

    </where>
    <if test="orders != null">
      order by ${orders}
      <if test="ascType != null and ascType == 2">
        desc
      </if>
    </if>
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>
  
  <select id="countPage" resultType="Integer">
    select count(*) from goods_category
    <where>
      1=1
      <if test="keyword != null">
        and (
        name like "%"#{keyword,jdbcType=VARCHAR}"%"
        )
      </if>
      <if test="status != null">
        and status = #{status}
      </if>

    </where>
  </select>
</mapper>