<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.goods.dao.ReportMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.goods.model.Report">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reason, business_id, user_id, add_time, update_time, type, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.goods.model.Report" useGeneratedKeys="true" keyProperty="id">
    insert into report (id, reason, business_id, 
      user_id, add_time, update_time, 
      type, status)
    values (#{id,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{businessId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.goods.model.Report" useGeneratedKeys="true" keyProperty="id">
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.goods.model.Report">
    update report
    <set>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.goods.model.Report">
    update report
    set reason = #{reason,jdbcType=VARCHAR},
      business_id = #{businessId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserIdBusinessId" parameterType="Integer" resultMap="BaseResultMap">
    select * from report where user_id = #{userId} and business_id = #{businessId} and type = #{type}
  </select>

  <select id="countPage" resultType="Integer">
    select count(*) from report a,goods_info b
    <where>
      a.business_id = b.id and a.type = 1
      <if test="type != null">
        and b.type = #{type}
      </if>
      <if test="status != null">
        and a.status = #{status}
      </if>
      <if test="keyword != null and keyword != ''">
        and (
        b.name like "%"#{keyword}"%"
        or b.description like "%"#{keyword}"%"
        or a.user_id in (select id from user_info where nick_name like  "%"#{keyword}"%")
        or b.user_id in (select id from user_info where nick_name like  "%"#{keyword}"%")
        )
      </if>
      <if test="startDate != null and startDate != ''">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
  </select>
  <select id="getGoodsReportPage" resultMap="BaseResultMap">
    select a.*,b.name goodsName,c.nick_name,c.head_img_url from report a,goods_info b,user_info c
    <where>
      a.business_id = b.id and a.type = 1 and a.user_id = c.id
      <if test="type != null">
        and b.type = #{type}
      </if>
      <if test="status != null">
        and a.status = #{status}
      </if>
      <if test="keyword != null and keyword != ''">
        and (
        b.name like "%"#{keyword}"%"
        or b.description like "%"#{keyword}"%"
        or a.user_id in (select id from user_info where nick_name like  "%"#{keyword}"%")
        or b.user_id in (select id from user_info where nick_name like  "%"#{keyword}"%")
        )
      </if>
      <if test="startDate != null and startDate != ''">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
    <if test="orders != null">
      order by ${orders}
      <if test="ascType != null and ascType == 2">
         desc
      </if>
    </if>
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>
</mapper>