<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangyuanyouyue.wallet.dao.BonusPoolMapper" >
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.wallet.model.BonusPool" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bonus_name" property="bonusName" jdbcType="VARCHAR" />
    <result column="probability" property="probability" jdbcType="DOUBLE" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bonus_name, probability, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bonus_pool
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bonus_pool
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.wallet.model.BonusPool" useGeneratedKeys="true" keyProperty="id">
    insert into bonus_pool (id, bonus_name, probability, 
      add_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{bonusName,jdbcType=VARCHAR}, #{probability,jdbcType=DOUBLE}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.wallet.model.BonusPool" >
    insert into bonus_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bonusName != null" >
        bonus_name,
      </if>
      <if test="probability != null" >
        probability,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bonusName != null" >
        #{bonusName,jdbcType=VARCHAR},
      </if>
      <if test="probability != null" >
        #{probability,jdbcType=DOUBLE},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.wallet.model.BonusPool" >
    update bonus_pool
    <set >
      <if test="bonusName != null" >
        bonus_name = #{bonusName,jdbcType=VARCHAR},
      </if>
      <if test="probability != null" >
        probability = #{probability,jdbcType=DOUBLE},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.wallet.model.BonusPool" >
    update bonus_pool
    set bonus_name = #{bonusName,jdbcType=VARCHAR},
      probability = #{probability,jdbcType=DOUBLE},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from bonus_pool
  </select>
</mapper>