<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangyuanyouyue.wallet.dao.PointGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.wallet.model.PointGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cover_img_url" property="coverImgUrl" jdbcType="VARCHAR" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fangyuanyouyue.wallet.model.PointGoods" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, price, point, status, cover_img_url, coupon_id, add_time, update_time,description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from point_goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from point_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.wallet.model.PointGoods" useGeneratedKeys="true" keyProperty="id">
    insert into point_goods (id, name, type, 
      price, point, status, 
      cover_img_url, coupon_id, add_time, 
      update_time, description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{point,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{coverImgUrl,jdbcType=VARCHAR}, #{couponId,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.wallet.model.PointGoods" useGeneratedKeys="true" keyProperty="id">
    insert into point_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="coverImgUrl != null" >
        cover_img_url,
      </if>
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="coverImgUrl != null" >
        #{coverImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.wallet.model.PointGoods" >
    update point_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="coverImgUrl != null" >
        cover_img_url = #{coverImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        coupon_id = #{couponId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fangyuanyouyue.wallet.model.PointGoods" >
    update point_goods
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      point = #{point,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      cover_img_url = #{coverImgUrl,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.wallet.model.PointGoods" >
    update point_goods
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      point = #{point,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      cover_img_url = #{coverImgUrl,jdbcType=VARCHAR},
      coupon_id = #{couponId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from point_goods
    where 1=1 limit #{start},#{limit}
  </select>
</mapper>