<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.wallet.dao.UserWalletMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.wallet.model.UserWallet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="balance_frozen" jdbcType="DECIMAL" property="balanceFrozen" />
    <result column="point" jdbcType="BIGINT" property="point" />
    <result column="score" jdbcType="BIGINT" property="score" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="appraisal_count" jdbcType="INTEGER" property="appraisalCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, balance, balance_frozen, point, score, add_time, update_time, appraisal_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_wallet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_wallet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.wallet.model.UserWallet" useGeneratedKeys="true" keyProperty="id">
    insert into user_wallet (id, user_id, balance, 
      balance_frozen, point, score, 
      add_time, update_time, appraisal_count
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL}, 
      #{balanceFrozen,jdbcType=DECIMAL}, #{point,jdbcType=BIGINT}, #{score,jdbcType=BIGINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{appraisalCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.wallet.model.UserWallet">
    insert into user_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="balanceFrozen != null">
        balance_frozen,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="appraisalCount != null">
        appraisal_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="balanceFrozen != null">
        #{balanceFrozen,jdbcType=DECIMAL},
      </if>
      <if test="point != null">
        #{point,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appraisalCount != null">
        #{appraisalCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.wallet.model.UserWallet">
    update user_wallet
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="balanceFrozen != null">
        balance_frozen = #{balanceFrozen,jdbcType=DECIMAL},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
      </if>
      <if test="appraisalCount != null">
        appraisal_count = #{appraisalCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.wallet.model.UserWallet">
    update user_wallet
    set user_id = #{userId,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DECIMAL},
      balance_frozen = #{balanceFrozen,jdbcType=DECIMAL},
      point = #{point,jdbcType=BIGINT},
      score = #{score,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      appraisal_count = #{appraisalCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="Integer" resultMap="BaseResultMap">
    select * from user_wallet
    <where>
      1=1
      <if test="userId != null">
        and user_id = #{userId}
      </if>
    </where>
  </select>

</mapper>