<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.forum.dao.AppraisalDetailMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.forum.model.AppraisalDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="bonus" jdbcType="DECIMAL" property="bonus" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="pv_count" jdbcType="INTEGER" property="pvCount" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fangyuanyouyue.forum.model.AppraisalDetail">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, title, bonus, label, sort, status, end_time, update_time, add_time, 
    pv_count
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from appraisal_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appraisal_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.forum.model.AppraisalDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into appraisal_detail (id, user_id, title, 
      bonus, label, sort, 
      status, end_time, update_time, 
      add_time, pv_count, content
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{bonus,jdbcType=DECIMAL}, #{label,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{addTime,jdbcType=TIMESTAMP}, #{pvCount,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.forum.model.AppraisalDetail">
    insert into appraisal_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="pvCount != null">
        pv_count,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pvCount != null">
        #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.forum.model.AppraisalDetail">
    update appraisal_detail
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pvCount != null">
        pv_count = #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fangyuanyouyue.forum.model.AppraisalDetail">
    update appraisal_detail
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=DECIMAL},
      label = #{label,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      pv_count = #{pvCount,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.forum.model.AppraisalDetail">
    update appraisal_detail
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=DECIMAL},
      label = #{label,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      pv_count = #{pvCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCollectList" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,c.nick_name,c.head_img_url from appraisal_detail a,collect b,user_info c
    <where>
      a.id = b.collect_id and a.user_id = c.id and c.status <![CDATA[ <> ]]> 3
      <if test="userId != null">
        and b.user_id = #{userId}
      </if>
      <if test="collectType != null">
        and b.collect_type = #{collectType}
      </if>
      <if test="search != null">
        and (a.title like "%"#{search}"%" or a.content like "%"#{search}"%" or a.user_id in (select id from user_info where nick_name like "%"#{search}"%" and status <![CDATA[ <> ]]> 3))
      </if>
    </where>
    order by b.add_time desc
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>
  <select id="selectMyList" parameterType="Integer" resultMap="BaseResultMap">
    select
    a.*,b.nick_name,b.head_img_url
    from appraisal_detail a,user_info b
    where a.user_id=b.id and b.status <![CDATA[ <> ]]> 3
    <if test="userId != null">
      and a.user_id = #{userId}
    </if>
    <if test="keyword != null">
      and a.title like "%"#{keyword}"%"
    </if>
    order by a.add_time desc limit #{start},#{limit}
  </select>

  <select id="selectListWithMe" parameterType="Integer" resultMap="BaseResultMap">
    select
    a.*,b.nick_name,b.head_img_url
    from appraisal_detail a,user_info b,appraisal_comment c
    where a.user_id=b.id and a.id = c.appraisal_id and b.status <![CDATA[ <> ]]> 3
    <if test="userId != null">
      and c.user_id = #{userId}
    </if>
    <if test="keyword != null">
      and (a.title like "%"#{keyword}"%" or a.content like "%"#{keyword}"%" or b.nick_name like "%"#{keyword}"%" or c.content like "%"#{keyword}"%")
    </if>
    order by a.add_time desc limit #{start},#{limit}
  </select>

  <select id="selectDetailByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    a.*,b.nick_name,b.head_img_url
    from appraisal_detail a,user_info b
    where a.user_id=b.id and a.id = #{id,jdbcType=INTEGER} and b.status <![CDATA[ <> ]]> 3
  </select>

  <select id="selectByStatusEndTime" resultMap="BaseResultMap">
    select * from appraisal_detail where status = #{status} and end_time <![CDATA[ < ]]> #{endTime}
  </select>

</mapper>