<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.forum.dao.ForumColumnApplyMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.forum.model.ForumColumnApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, type_id, column_name, status, reason, update_time, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from forum_column_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from forum_column_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.forum.model.ForumColumnApply" useGeneratedKeys="true" keyProperty="id">
    insert into forum_column_apply (id, user_id, type_id, 
      column_name, status, reason, 
      update_time, add_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{columnName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.forum.model.ForumColumnApply">
    insert into forum_column_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="columnName != null">
        column_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.forum.model.ForumColumnApply">
    update forum_column_apply
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="columnName != null">
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.forum.model.ForumColumnApply">
    update forum_column_apply
    set user_id = #{userId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      column_name = #{columnName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectApplyList" resultMap="BaseResultMap">
    select a.* from forum_column_apply a where a.status = #{status}
     <if test="keyword != null">
       and a.column_name like "%"#{keyword}"%" or (select nick_name from user_info where id = a.user_id and status <![CDATA[ <> ]]> 3) like "%"#{keyword}"%"
     </if>
     order by a.add_time desc limit #{start},#{limit}
  </select>
  
  
    
  <select id="countPage" parameterType="Integer" resultType="Integer">
    select count(*) from forum_column_apply where 1=1
    <if test="keyword != null">
      and ( 
      	column_name like "%"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="startDate != null">
      and add_time <![CDATA[ > ]]> #{startDate}
    </if>
    
    <if test="endDate != null">
      and add_time <![CDATA[ < ]]> #{endDate}
    </if>
    
  </select>
  
  <select id="getPage" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url,b.phone,c.name from forum_column_apply a,user_info b,forum_column_type c where a.user_id=b.id and a.type_id=c.id
    <if test="keyword != null">
      and ( 
      	a.column_name like "%"#{keyword,jdbcType=VARCHAR}"%"
      	and b.nick_name like %"#{keyword,jdbcType=VARCHAR}"%"
      	and b.phone like %"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>

    <if test="startDate != null">
      and a.add_time <![CDATA[ > ]]> #{startDate}
    </if>

    <if test="endDate != null">
      and a.add_time <![CDATA[ <= ]]> #{endDate}
    </if>
    
    <if test="orders != null">
      order by ${orders}
      <if test="ascType != null and ascType == 2">
        desc
      </if>
    </if>
    limit #{start},#{limit}
  </select>
  
  <select id="selectApplyByUserId" resultMap="BaseResultMap">
    select * from forum_column_apply where user_id = #{userId} and status = 0
  </select>
</mapper>