<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangyuanyouyue.forum.dao.ForumLikesMapper" >
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.forum.model.ForumLikes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="forum_id" property="forumId" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, forum_id, add_time
  </sql>
  
  <select id="countById" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*) from forum_likes where forum_id = #{forumId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from forum_likes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByForumId" resultMap="BaseResultMap" >
    select 
    a.*,b.nick_name,b.head_img_url
    from forum_likes a,user_info b
    where a.user_id=b.id and forum_id=#{forumId} limit #{start},#{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from forum_likes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.forum.model.ForumLikes" useGeneratedKeys="true" keyProperty="id">
    insert into forum_likes (id, user_id, forum_id, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{forumId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.forum.model.ForumLikes" >
    insert into forum_likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="forumId != null" >
        forum_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="forumId != null" >
        #{forumId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.forum.model.ForumLikes" >
    update forum_likes
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="forumId != null" >
        forum_id = #{forumId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.forum.model.ForumLikes" >
    update forum_likes
    set user_id = #{userId,jdbcType=INTEGER},
      forum_id = #{forumId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*) from forum_likes where forum_id = #{forumId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>