<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.forum.dao.ForumInfoMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.forum.model.ForumInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_length" jdbcType="INTEGER" property="videoLength" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="is_chosen" jdbcType="INTEGER" property="isChosen" />
    <result column="video_img" jdbcType="VARCHAR" property="videoImg" />
    <result column="pv_count" jdbcType="INTEGER" property="pvCount" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fangyuanyouyue.forum.model.ForumInfo">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, title, video_url, video_length, label, sort, type, status, add_time, 
    update_time, column_id, is_chosen, video_img, pv_count
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forum_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from forum_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.forum.model.ForumInfo" useGeneratedKeys="true" keyProperty="id">
    insert into forum_info (id, user_id, title, 
      video_url, video_length, label, 
      sort, type, status, 
      add_time, update_time, column_id, 
      is_chosen, video_img, pv_count, 
      content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{videoLength,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{columnId,jdbcType=INTEGER}, 
      #{isChosen,jdbcType=INTEGER}, #{videoImg,jdbcType=VARCHAR}, #{pvCount,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.forum.model.ForumInfo">
    insert into forum_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="videoLength != null">
        video_length,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="isChosen != null">
        is_chosen,
      </if>
      <if test="videoImg != null">
        video_img,
      </if>
      <if test="pvCount != null">
        pv_count,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoLength != null">
        #{videoLength,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="isChosen != null">
        #{isChosen,jdbcType=INTEGER},
      </if>
      <if test="videoImg != null">
        #{videoImg,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null">
        #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.forum.model.ForumInfo">
    update forum_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoLength != null">
        video_length = #{videoLength,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=INTEGER},
      </if>
      <if test="isChosen != null">
        is_chosen = #{isChosen,jdbcType=INTEGER},
      </if>
      <if test="videoImg != null">
        video_img = #{videoImg,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null">
        pv_count = #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fangyuanyouyue.forum.model.ForumInfo">
    update forum_info
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      video_length = #{videoLength,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      column_id = #{columnId,jdbcType=INTEGER},
      is_chosen = #{isChosen,jdbcType=INTEGER},
      video_img = #{videoImg,jdbcType=VARCHAR},
      pv_count = #{pvCount,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.forum.model.ForumInfo">
    update forum_info
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      video_length = #{videoLength,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      column_id = #{columnId,jdbcType=INTEGER},
      is_chosen = #{isChosen,jdbcType=INTEGER},
      video_img = #{videoImg,jdbcType=VARCHAR},
      pv_count = #{pvCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectDetailByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    a.*,b.nick_name,b.head_img_url
    from forum_info a,user_info b
    where a.user_id=b.id and a.id = #{id,jdbcType=INTEGER} and b.status <![CDATA[ <> ]]> 3
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    a.*,b.nick_name,b.head_img_url
    from forum_info a,user_info b
    where a.user_id=b.id and b.status <![CDATA[ <> ]]> 3
    <if test="columnId != null">
      and a.column_id = #{columnId}
    </if>
    <if test="type != null">
      and a.type = #{type}
    </if>
    <if test="userId != null">
      and a.user_id = #{userId}
    </if>
    <if test="keyword != null">
      and (a.title like "%"#{keyword}"%" or a.content like "%"#{keyword}"%")
    </if>
    <if test="searchType != null and searchType == 2">
      and a.is_chosen = 1
    </if>
    <if test="searchType != null and searchType == 1">
      and (a.pv_count + (select count(*) from forum_pv where forum_id = a.id) >= 10000)
    </if>
    order by a.update_time desc
    limit #{start},#{limit}
  </select>

  <select id="selectCollectList" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,c.nick_name,c.head_img_url from forum_info a,collect b,user_info c
    <where>
      a.id = b.collect_id and a.user_id = c.id and c.status <![CDATA[ <> ]]> 3
      <if test="userId != null">
        and b.user_id = #{userId}
      </if>
      <if test="type != null">
        and a.type = #{type}
      </if>
      <if test="collectType != null">
        and b.collect_type = #{collectType}
      </if>
      <if test="search != null">
        and (a.title like "%"#{search}"%" or a.content like "%"#{search}"%" or c.nick_name like "%"#{search}"%")
      </if>
    </where>
    order by b.add_time desc
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>
  
  
    
  <select id="countPage" parameterType="Integer" resultType="Integer">
    select count(*) from forum_column where 1=1
    <if test="keyword != null">
      and ( 
      	name like "%"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="startDate != null">
      and add_time <![CDATA[ > ]]> #{startDate}
    </if>
    
    <if test="endDate != null">
      and add_time <![CDATA[ <= ]]> #{endDate}
    </if>
    
  </select>
  
  <select id="getPage" resultMap="BaseResultMap">
    select a.*,b.head_img_url,b.nick_name from forum_column a,user_info b where a.user_id=b.id
    <if test="keyword != null">
      and (
        a.name like "%"#{keyword,jdbcType=VARCHAR}"%"
        or b.nick_name like "%"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>
    
    <if test="startDate != null">
      and a.add_time <![CDATA[ > ]]> #{startDate}
    </if>
    
    <if test="endDate != null">
      and a.add_time <![CDATA[ <= ]]> #{endDate}
    </if>
    
    <if test="orders != null">
      order by ${orders}
    </if>
    limit #{start},#{limit}
  </select>
  

</mapper>