<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangyuanyouyue.forum.dao.ForumPvMapper" >
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.forum.model.ForumPv" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="forum_id" property="forumId" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, forum_id, add_time, column_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from forum_pv
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from forum_pv
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.forum.model.ForumPv" >
    insert into forum_pv (id, user_id, forum_id, 
      add_time, column_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{forumId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{columnId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.forum.model.ForumPv" >
    insert into forum_pv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="forumId != null" >
        forum_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="columnId != null" >
        column_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="forumId != null" >
        #{forumId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.forum.model.ForumPv" >
    update forum_pv
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="forumId != null" >
        forum_id = #{forumId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="columnId != null" >
        column_id = #{columnId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.forum.model.ForumPv" >
    update forum_pv
    set user_id = #{userId,jdbcType=INTEGER},
      forum_id = #{forumId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      column_id = #{columnId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>