<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.order.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.order.model.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="main_order_id" jdbcType="INTEGER" property="mainOrderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="is_resolve" jdbcType="INTEGER" property="isResolve" />
    <result column="is_refund" jdbcType="INTEGER" property="isRefund" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="seller_is_delete" jdbcType="INTEGER" property="sellerIsDelete" />
    <result column="buyer_is_delete" jdbcType="INTEGER" property="buyerIsDelete" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, main_order_id, order_no, amount, count, status, add_time, seller_id, 
    is_resolve, is_refund, receive_time, update_time, seller_is_delete, buyer_is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.order.model.OrderInfo" useGeneratedKeys="true" keyProperty="id">
    insert into order_info (id, user_id, main_order_id, 
      order_no, amount, count, 
      status, add_time, seller_id, 
      is_resolve, is_refund, receive_time, 
      update_time, seller_is_delete, buyer_is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{mainOrderId,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{sellerId,jdbcType=INTEGER}, 
      #{isResolve,jdbcType=INTEGER}, #{isRefund,jdbcType=INTEGER}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{sellerIsDelete,jdbcType=INTEGER}, #{buyerIsDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.order.model.OrderInfo" useGeneratedKeys="true" keyProperty="id">
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mainOrderId != null">
        main_order_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="isResolve != null">
        is_resolve,
      </if>
      <if test="isRefund != null">
        is_refund,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sellerIsDelete != null">
        seller_is_delete,
      </if>
      <if test="buyerIsDelete != null">
        buyer_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mainOrderId != null">
        #{mainOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="isResolve != null">
        #{isResolve,jdbcType=INTEGER},
      </if>
      <if test="isRefund != null">
        #{isRefund,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerIsDelete != null">
        #{sellerIsDelete,jdbcType=INTEGER},
      </if>
      <if test="buyerIsDelete != null">
        #{buyerIsDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.order.model.OrderInfo">
    update order_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mainOrderId != null">
        main_order_id = #{mainOrderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="isResolve != null">
        is_resolve = #{isResolve,jdbcType=INTEGER},
      </if>
      <if test="isRefund != null">
        is_refund = #{isRefund,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerIsDelete != null">
        seller_is_delete = #{sellerIsDelete,jdbcType=INTEGER},
      </if>
      <if test="buyerIsDelete != null">
        buyer_is_delete = #{buyerIsDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.order.model.OrderInfo">
    update order_info
    set user_id = #{userId,jdbcType=INTEGER},
      main_order_id = #{mainOrderId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      seller_id = #{sellerId,jdbcType=INTEGER},
      is_resolve = #{isResolve,jdbcType=INTEGER},
      is_refund = #{isRefund,jdbcType=INTEGER},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      seller_is_delete = #{sellerIsDelete,jdbcType=INTEGER},
      buyer_is_delete = #{buyerIsDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKeyDetail" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url from order_info a,user_info b where a.user_id = b.id and a.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getListByUserIdStatus" parameterType="Integer" resultMap="BaseResultMap">
    select DISTINCT a.*,c.nick_name,c.head_img_url from order_info a,order_detail b,user_info c
    <where>
      (a.id = b.order_id or a.id = b.main_order_id) and a.is_resolve = 2 and a.user_id = c.id and a.buyer_is_delete <![CDATA[ <> ]]> 1
      <if test="userId != null">
        and a.user_id = #{userId}
      </if>
      <if test="status != null and status != 0 and status != 7">
        and a.status = #{status}
      </if>
      <if test="status != null and status == 7">
        and a.is_refund = 1
      </if>
      <if test="search != null and search != ''">
        and b.goods_id in (select id from goods_info where name like "%"#{search}"%" or description like "%"#{search}"%")
      </if>
    </where>
    order by a.add_time desc
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>


  <select id="selectChildOrderByOrderId" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url from order_info a,user_info b
    <where>
      a.status <![CDATA[ <> ]]> 5 and a.user_id = b.id
      <if test="userId != null">
        and a.user_id = #{userId}
      </if>
      <if test="mainOrderId != null">
        and a.main_order_id = #{mainOrderId}
      </if>
    </where>
  </select>

  <select id="getOrderBySellerId" parameterType="Integer" resultMap="BaseResultMap">
    select DISTINCT a.*,c.nick_name,c.head_img_url from order_info a,order_detail b,user_info c
    <where>
      a.id = b.order_id and a.seller_is_delete <![CDATA[ <> ]]> 1 and a.is_resolve = 2 and a.user_id = c.id
      <if test="sellerId != null">
        and a.seller_id = #{sellerId}
      </if>
      <if test="status != null and status != 0 and status != 7">
        and a.status = #{status}
      </if>
      <if test="status != null and status == 7">
        and a.is_refund = 1
      </if>
      <if test="search != null and search != ''">
        and b.goods_id in (select id from goods_info where name like "%"#{search}"%" or description like "%"#{search}"%")
      </if>
    </where>
    order by a.add_time desc
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>


  <select id="getOrderByUserIdOrderId" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url from order_info a,user_info b
    <where>
      a.buyer_is_delete <![CDATA[ <> ]]> 1 and a.is_resolve = 2 and a.user_id = b.id
      <if test="userId != null">
        and a.user_id = #{userId}
      </if>
      <if test="orderId != null">
        and a.id = #{orderId}
      </if>
    </where>
  </select>

  <select id="getRefundOrder" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,c.nick_name,c.head_img_url from order_info a,order_refund b,user_info c
    <where>
      a.is_refund = 1 and b.order_id = a.id and b.status = 1 and (a.status = 2 or a.status = 3) and a.user_id = c.id
      <if test="userId != null and type == 1">
        and a.user_id = #{userId}
      </if>
      <if test="userId != null and type == 2">
        and a.seller_id = #{userId}
      </if>
    </where>
    order by a.add_time desc
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>

  <select id="selectByOrderNo" parameterType="String" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url from order_info a,user_info b where a.user_id = b.id and a.order_no = #{orderNo} and a.status = 1
  </select>

  <select id="selectByOrderId" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url,b.phone from order_info a,user_info b where a.user_id = b.id and a.id = #{orderId} 
  </select>
  
  <select id="selectByStatus" parameterType="Integer" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.head_img_url from order_info a,user_info b where a.user_id = b.id and a.status = #{status} and a.is_resolve = 2
  </select>


  <select id="countPage" resultType="Integer">
    select count(*) from order_info a,order_detail b,user_info c
    <where>
        (a.id = b.order_id or a.id = b.main_order_id) and a.is_resolve = 2 and a.user_id = c.id
      <if test="keyword != null and keyword != ''">
        and (
          a.order_no like "%"#{keyword}"%"
          or b.goods_name like "%"#{keyword}"%"
          or c.nick_name like "%"#{keyword}"%"
        )
      </if>
      <if test="status != null">
        <if test="status == 7">
          and a.is_refund = 1
        </if>
        <if test="status != 7">
          and a.status = #{status} and a.is_refund = 2
        </if>
      </if>
      <if test="startDate != null">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
  </select>

  <select id="getOrderPage" resultMap="BaseResultMap">
    select DISTINCT a.*,c.nick_name,c.head_img_url,c.phone from order_info a,order_detail b,user_info c
    <where>
      (a.id = b.order_id or a.id = b.main_order_id) and a.is_resolve = 2 and a.user_id = c.id
      <if test="keyword != null and keyword != ''">
        and (
          a.order_no like "%"#{keyword}"%"
          or b.goods_name like "%"#{keyword}"%"
          or c.nick_name like "%"#{keyword}"%"
        )
      </if>
      <if test="status != null">
        <if test="status == 7">
          and a.is_refund = 1
        </if>
        <if test="status != 7">
          and a.status = #{status} and a.is_refund = 2
        </if>
      </if>
      <if test="startDate != null and startDate != ''">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
    <if test="orders != null">
      order by a.${orders}
      <if test="ascType != null and ascType == 2">
        desc
      </if>
    </if>
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>

  <select id="getTodayOrderCount" resultType="Integer">
    select count(*) count from order_info where add_time <![CDATA[ >= ]]> CURDATE() and add_time <![CDATA[ < ]]> (CURDATE()+1) and is_resolve=2
    <if test="status != null">
      and status = #{status}
    </if>
  </select>

  <select id="getAllOrderCount" resultType="Integer">
    select count(*) count from order_info where is_resolve=2
    <if test="status != null">
      and status = #{status}
    </if>
  </select>


</mapper>