<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.order.dao.OrderRefundMapper">
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.order.model.OrderRefund">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="service_no" jdbcType="VARCHAR" property="serviceNo" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="pic2" jdbcType="VARCHAR" property="pic2" />
    <result column="pic3" jdbcType="VARCHAR" property="pic3" />
    <result column="pic4" jdbcType="VARCHAR" property="pic4" />
    <result column="pic5" jdbcType="VARCHAR" property="pic5" />
    <result column="pic6" jdbcType="VARCHAR" property="pic6" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="seller_return_status" jdbcType="INTEGER" property="sellerReturnStatus" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="platform_reason" jdbcType="VARCHAR" property="platformReason" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, reason, service_no, pic1, pic2, pic3, pic4, pic5, pic6, status, add_time, 
    update_time, seller_return_status, user_id, refuse_reason, end_time,deal_time,platform_reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_refund
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_refund
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.order.model.OrderRefund" useGeneratedKeys="true" keyProperty="id">
    insert into order_refund (id, order_id, reason, 
      service_no, pic1, pic2, 
      pic3, pic4, pic5, pic6, 
      status, add_time, update_time, 
      seller_return_status, user_id, refuse_reason, 
      end_time,deal_time,platform_reason)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{serviceNo,jdbcType=VARCHAR}, #{pic1,jdbcType=VARCHAR}, #{pic2,jdbcType=VARCHAR}, 
      #{pic3,jdbcType=VARCHAR}, #{pic4,jdbcType=VARCHAR}, #{pic5,jdbcType=VARCHAR}, #{pic6,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{sellerReturnStatus,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{refuseReason,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=TIMESTAMP},#{dealTime,jdbcType=TIMESTAMP},#{platformReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.order.model.OrderRefund">
    insert into order_refund
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="serviceNo != null">
        service_no,
      </if>
      <if test="pic1 != null">
        pic1,
      </if>
      <if test="pic2 != null">
        pic2,
      </if>
      <if test="pic3 != null">
        pic3,
      </if>
      <if test="pic4 != null">
        pic4,
      </if>
      <if test="pic5 != null">
        pic5,
      </if>
      <if test="pic6 != null">
        pic6,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sellerReturnStatus != null">
        seller_return_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="refuseReason != null">
        refuse_reason,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
      <if test="platformReason != null">
        platform_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="serviceNo != null">
        #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="pic4 != null">
        #{pic4,jdbcType=VARCHAR},
      </if>
      <if test="pic5 != null">
        #{pic5,jdbcType=VARCHAR},
      </if>
      <if test="pic6 != null">
        #{pic6,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerReturnStatus != null">
        #{sellerReturnStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="refuseReason != null">
        #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformReason != null">
        #{platformReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.order.model.OrderRefund">
    update order_refund
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="serviceNo != null">
        service_no = #{serviceNo,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        pic1 = #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="pic4 != null">
        pic4 = #{pic4,jdbcType=VARCHAR},
      </if>
      <if test="pic5 != null">
        pic5 = #{pic5,jdbcType=VARCHAR},
      </if>
      <if test="pic6 != null">
        pic6 = #{pic6,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerReturnStatus != null">
        seller_return_status = #{sellerReturnStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="refuseReason != null">
        refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformReason != null">
        platform_reason = #{platformReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.order.model.OrderRefund">
    update order_refund
    set order_id = #{orderId,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      service_no = #{serviceNo,jdbcType=VARCHAR},
      pic1 = #{pic1,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      pic4 = #{pic4,jdbcType=VARCHAR},
      pic5 = #{pic5,jdbcType=VARCHAR},
      pic6 = #{pic6,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      seller_return_status = #{sellerReturnStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      platform_reason = #{platformReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByOrderIdStatus" parameterType="Integer" resultMap="BaseResultMap">
    select * from order_refund
    <where>
      1=1
      <if test="sellerReturnStatus != null">
        and seller_return_status = #{sellerReturnStatus}
      </if>
      <if test="orderId != null">
        and order_id = #{orderId}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>
  

  <select id="countPage" resultType="Integer">
    select count(*) from order_refund a,order_info b
    <where>
      a.order_id = b.id
      <if test="keyword != null">
      </if>
      <if test="status != null">
       and a.status = #{status}
      </if>

      <if test="startDate != null">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
  </select>

  <select id="getPage" resultMap="BaseResultMap">
    select *,b.order_no from order_refund a,order_info b
    <where>
      a.order_id = b.id
      <if test="keyword != null and keyword != ''">
      </if>
      <if test="status != null">
       and a.status = #{status}
      </if>
      <if test="startDate != null and startDate != ''">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
    <if test="orders != null">
      order by a.${orders}
      <if test="ascType != null and ascType == 2">
        desc
      </if>
    </if>
    <if test="start != null and limit != null">
      limit #{start},#{limit}
    </if>
  </select>
</mapper>