<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangyuanyouyue.user.dao.IdentityAuthApplyMapper" >
  <resultMap id="BaseResultMap" type="com.fangyuanyouyue.user.model.IdentityAuthApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="identity_img_cover" property="identityImgCover" jdbcType="VARCHAR" />
    <result column="identity_img_back" property="identityImgBack" jdbcType="VARCHAR" />
    <result column="reject_desc" property="rejectDesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, name, identity, identity_img_cover, identity_img_back, reject_desc, 
    status, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from identity_auth_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from identity_auth_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fangyuanyouyue.user.model.IdentityAuthApply"  useGeneratedKeys="true" keyProperty="id">
    insert into identity_auth_apply (id, user_id, name, 
      identity, identity_img_cover, identity_img_back, 
      reject_desc, status, add_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{identityImgCover,jdbcType=VARCHAR}, #{identityImgBack,jdbcType=VARCHAR}, 
      #{rejectDesc,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fangyuanyouyue.user.model.IdentityAuthApply" useGeneratedKeys="true" keyProperty="id">
    insert into identity_auth_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="identityImgCover != null" >
        identity_img_cover,
      </if>
      <if test="identityImgBack != null" >
        identity_img_back,
      </if>
      <if test="rejectDesc != null" >
        reject_desc,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="identityImgCover != null" >
        #{identityImgCover,jdbcType=VARCHAR},
      </if>
      <if test="identityImgBack != null" >
        #{identityImgBack,jdbcType=VARCHAR},
      </if>
      <if test="rejectDesc != null" >
        #{rejectDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangyuanyouyue.user.model.IdentityAuthApply" >
    update identity_auth_apply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="identityImgCover != null" >
        identity_img_cover = #{identityImgCover,jdbcType=VARCHAR},
      </if>
      <if test="identityImgBack != null" >
        identity_img_back = #{identityImgBack,jdbcType=VARCHAR},
      </if>
      <if test="rejectDesc != null" >
        reject_desc = #{rejectDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangyuanyouyue.user.model.IdentityAuthApply" >
    update identity_auth_apply
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      identity_img_cover = #{identityImgCover,jdbcType=VARCHAR},
      identity_img_back = #{identityImgBack,jdbcType=VARCHAR},
      reject_desc = #{rejectDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" parameterType="Integer" resultMap="BaseResultMap">
    select * from identity_auth_apply where user_id = #{userId,jdbcType=INTEGER} and status <![CDATA[ <> ]]> 3
  </select>


  <select id="countPage" parameterType="Integer" resultType="Integer">
    select count(*) from identity_auth_apply a,user_info b where a.user_id=b.id
    <if test="keyword != null">
      and (
      b.phone like "%"#{keyword,jdbcType=VARCHAR}"%"
      or b.nick_name like "%"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>
      <if test="startDate != null">
        and a.add_time <![CDATA[ > ]]> #{startDate}
      </if>

      <if test="endDate != null">
        and a.add_time <![CDATA[ <= ]]> #{endDate}
      </if>

  </select>


  <select id="getPage" resultMap="BaseResultMap">
    select a.*,b.nick_name,b.phone from identity_auth_apply a,user_info b where a.user_id=b.id
    <if test="keyword != null">
      and (
      b.phone like "%"#{keyword,jdbcType=VARCHAR}"%"
      or b.nick_name like "%"#{keyword,jdbcType=VARCHAR}"%"
      or a.identity like "%"#{keyword,jdbcType=VARCHAR}"%"
      or a.name like "%"#{keyword,jdbcType=VARCHAR}"%"
      )
    </if>
    <if test="status != null">
      and a.status = #{status}
    </if>

    <if test="startDate != null">
      and a.add_time <![CDATA[ > ]]> #{startDate}
    </if>

    <if test="endDate != null">
      and a.add_time <![CDATA[ <= ]]> #{endDate}
    </if>

    <if test="orders != null">
      order by a.${orders}
      <if test="ascType != null and ascType == 2">
        desc
      </if>
    </if>
    limit #{start},#{limit}
  </select>

</mapper>