<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangyuanyouyue.user.dao.UserMergeMapper">
    <update id="MergeCoupon" parameterType="Integer">
        update user_coupon set user_id = #{toUserId} where user_id = #{userId}
    </update>

    <update id="MergeGoodsComment" parameterType="Integer">
        update goods_comment set user_id = #{toUserId} where user_id = #{userId}
    </update>

    <update id="MergeForumComment" parameterType="Integer">
        update forum_comment set user_id = #{toUserId} where user_id = #{userId}
    </update>
</mapper>